@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-darker: #111b21;
  --color-light: #202c33;
  --color-main: #00A884;
  --color-main-light: #00A884;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Track background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00A884; /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00A884; /* Darker color on hover */
}